<div class="container">
  <h1>Anonymous Blog</h1>
  <a href="/posts/new">Create a new Post</a>
  <a href="/posts/list">Show me a list of all posts</a>
  <a href="/tags/list">Show me a list of all tags</a>
</div>
